.slick-initialized .slick-slide {
  padding-left: 10px;
  padding-right: 10px;
}

.slick-next::before {
  content: none;
}

.slick-prev::before {
  content: none;
}

.slick-disabled {
  display: none !important;
}